<div class="profile-container">

  <img [src]="user?.photo_url || 'assets/default.png'">

  <h2>{{ user?.name }}</h2>
  <p>{{ user?.email }}</p>

  <h3>⭐ Vos favoris</h3>

  <div class="favorites">
    <div *ngFor="let f of favorites">

      <img [src]="'https://image.tmdb.org/t/p/w200' + f.poster_path">

      <p>{{ f.title }}</p>

      <button (click)="removeFavorite(f.tmdb_id)">
        supprimer
      </button>

    </div>
  </div>

  <h3>🔐 Mot de passe</h3>

  <input [(ngModel)]="newPassword" type="password">
  <button (click)="updatePassword()">Modifier</button>

</div>