<nav class="navbar">


<div class="logo">

<a routerLink="/films">
🎬 ReckOMovies
</a>

</div>



<button
class="hamburger"
(click)="toggleMenu()">

☰

</button>




<div class="links"
[class.open]="menuOpen">



<!-- PUBLIC -->

<a
routerLink="/films"
(click)="closeMenu()">

Films

</a>



<a
*ngIf="!connected"
routerLink="/login"
(click)="closeMenu()">

Connexion

</a>



<a
*ngIf="!connected"
routerLink="/register"
(click)="closeMenu()">

Inscription

</a>





<!-- CONNECTE -->


<a
*ngIf="connected"
routerLink="/users"
(click)="closeMenu()">

Utilisateurs

</a>



<a
*ngIf="connected"
routerLink="/profile"
(click)="closeMenu()">

Profil

</a>




<!-- ADMIN -->


<a
*ngIf="auth.currentUser.value?.role === 'admin'"
routerLink="/admin"
(click)="closeMenu()">

Admin

</a>





<button
*ngIf="connected"
(click)="logout()">

Déconnexion

</button>



</div>


</nav>